# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
../../node_modules/babel-jest/build

# misc
.DS_Store

npm-debug.log
.firebaserc
.idea/dictionaries/
database.rules.json
firebase.json
node_modules/
semantic/
src/style/components/
src/style/semantic.js
src/style/semantic.min.css
src/style/semantic.min.js
src/style/themes/
