@import 'semantic.css'

.selectable:hover {
  cursor: hand;
}

.mask
  overflow: hidden !important

.p-relative
  overflow: hidden !important

.p-absolute
  position: absolute !important

.b-red
  border: solid 1px red !important

.b-blue
  border: solid 1px blue !important

