.bordered {
  border: solid 1px #ccc;
}

.mfb-icon {
  height: 56px;
  width: 56px;
  background-repeat: no-repeat;
  background-position: center;
}

.mfb-icon .add {
  background: url('/icon-add.svg');
}

.mfb-close {
  background: url('/icon-add.svg');
  height: 56px;
  width: 56px;
  background-repeat: no-repeat;
  background-position: center;
}
